*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!*/cache/index.html
!*/cache/.htaccess
/nbproject/private/
/worker/nbproject/private/
/src/nbproject/private/
#/src/vendor/
#/src/vendor/
/src/vendor_updated/mgp25/instagram-php/nbproject/private/
/src/testeJR/vendor/mgp25/instagram-php/nbproject/private
/certificado
