#usersLoginForm
{
   position: absolute;
   top: 40%;
   left: 84%;
   width:15%;
   height:200%;
   z-index: 2;   
   background-color:white;
   border-radius:3px;
   box-shadow:0px 0px 5px 0px #424242;
   padding:10px;
   box-sizing:border-box;
   font-family:helvetica;
   visibility:hidden;
   display:none;
}
#userCloseLogin
{
   position: relative;
   top:1%;
   left:47%;
   width:15px;
   height:15px;
}
#waiting
{
 position: absolute; 
 z-index: 3;
 top:20%; 
 left: 30%; 
 width: 45%;
 height:55%; 
 visibility:hidden; 
 display:none;
}
#usersLoginForm #userLogin
{
   width:90%;
   height:25%;
   border:1px solid silver;
   border-radius:3px;
   padding:5px;
}
#usersLoginForm #userPassword
{
   margin-top:5px;
   width:90%;
   height:25%;
   border:1px solid silver;
   border-radius:3px;
   padding:5px;
}
#usersLoginForm #btn_dumbu_login
{   
   margin-top:10px;
   width:80%;
   height:25%;
   border:none;
   border-radius:3px;
   color:#E6E6E6;
   background-color:grey;
   font-size:18px;
}