<!DOCTYPE html>
<html lang="pt_BR">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<title>DUMBO</title>

		<!-- Bootstrap -->
		<link href="assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link href="assets/css/loading.css" rel="stylesheet">
		<link href="assets/css/datepiker.css" rel="stylesheet">
		<link href="assets/css/style.css" rel="stylesheet">

		<link rel="stylesheet" type="text/css" href="assets/css/default.css" />
		<link rel="stylesheet" type="text/css" href="assets/css/component.css" />
		<script src="assets/js/modernizr.custom.js"></script>

		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body>
		<div class="windows8">
		 <div class="wBall" id="wBall_1">
		  <div class="wInnerBall"></div>
		 </div>
		 <div class="wBall" id="wBall_2">
		  <div class="wInnerBall"></div>
		 </div>
		 <div class="wBall" id="wBall_3">
		  <div class="wInnerBall"></div>
		 </div>
		 <div class="wBall" id="wBall_4">
		  <div class="wInnerBall"></div>
		 </div>
		 <div class="wBall" id="wBall_5">
		  <div class="wInnerBall"></div>
		 </div>
		</div>
		<header class="bk-black">
			<div class="container">
				<nav class="navbar navbar-default navbar-static-top">
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="logo pabsolute fleft100 text-center">	
						<a class="navbar-brand i-block" href="#">
							<img alt="Brand" src="assets/images/logo.png">
						</a>
					</div>
					<ul class="nav navbar-nav navbar-right">
						<li><a href="#"><img src="assets/images/user.png" class="wauto us" alt=""> SAIR</a></li>
					</ul>
				</nav>
			</div>
		</header>

		<section id="perfil" class="fleft100">
			<div class="container">	
				<!-- <div class="ativar text-center fleft100">
					<h4 class="cl-red">ATIVE SUA CONTA</h4>
					<span class="t-up">precisamos que você verifique sua conta diretamente no instagram como medida de segurança</span>
					<div class="text-center m-b20"><button class="btn-primary w40 btn-green m-t20">ATIVAR CONTA</button></div>
				</div> -->

				<!-- <div class="ativar text-center fleft100">
					<h4 class="cl-red">ATIVE SUA CONTA</h4>
					<span class="t-up">PARECE QUE A SENHA INFORMADA NÃO CONFERE COM A SUA CONTA DO INSTAGRAM, POR FAVOR ATUALIZE SUA CONTA COM A SENHA CORRETA. SE O PROBLEMA PERSISTIR, ENTRE EM CONTATO COM O NOSSO ATENDIMENTO.</span>

					<div class="pay fleft100 input-form m-t20">
						<div class="col-md-2 col-sm-2 col-xs-12"><br></div>
						<div class="col-md-4 col-sm-4 col-xs-12">
							<fieldset>
								<input type="text" disabled="disabled" value="@nomedocliente">
							</fieldset>
						</div>
						<div class="col-md-4 col-sm-4 col-xs-12">
							<fieldset>
								<input type="password" placeholder="Senha do Instagram">
							</fieldset>
						</div>
					</div>

					<div class="text-center m-b20"><button class="btn-primary w40 btn-green m-t20">ATIVAR CONTA</button></div>
				</div> -->

				<!-- Single button -->
				<div class="btn-group fleft100 m-tb20">
				  <button type="button" class="btn btn-drop fleft100 dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				    <b>AVISOS IMPORTANTES</b> <img src="assets/images/seta.png" alt="" class="wauto fright">
				  </button>
				  <ul class="dropdown-menu drop-lista bk-cinza fleft100">
				    <li>O Instagram só permite que você siga 7.500 perfis no total. Se você segue entre 6.000 e 7.500, precisarémos desseguir perfis para iniciar a ferramenta;</li>
				    <li>Nossa ferramenta é integrada ao instagram, por isso, pode sofrer variações no desempenho a cada atualização feita pelo instagram;</li>
				    <li>Caso altere sua senha ou usuário, não se preocupe, basta você efetuar login em nosso site e pronto! Sua conta será atualizada automatcamente;</li>
				    <li>Nunca deixe sua conta privada, você conseguirá captar mais seguidores se eles puderem ver seu conteúdo e se identificarem com seu perfil;</li>
				    <li>Nunca escolha perfis privados ou com poucos seguidores.</li>
				  </ul>
				</div>

				<div class="text-center fleft100">
					<img src="assets/images/perfis.png" class="wauto m-t20" alt="">
					<h4 class="fleft100 m-t20"><b>PERFIS DE PREFERÊNCIA</b></h4>
					<p class="m-t10 fleft100">O Dumbu seguirá os usuários que seguem os perfis de referência que você escolher, uma parte <br>desses usuários o seguirão de volta e após um determinado tempo deixaremos de <br>seguir esses usuários.  Adicione seus perfis de referência aqui:</p>
				</div>

				<div class="col-md-2 col-sm-2 col-xs-12 text-center m-t30">
					<img src="assets/images/pedro.jpg" class="img50" alt="">
					<span class="fleft100 m-t10">@pedropetti</span>
					<span class="fleft100 cl-green">ATIVO</span>
				</div>

				<div class="col-md-10 col-sm-10 col-xs-12 m-t30">
					<div class="num"><img src="assets/images/bol-g.png" class="wauto" alt=""> Número de perfis já seguidos <span class="fright">12 Perfis de referência utilizados até hoje</span></div>
					<div class="fleft100 bk-cinza pf-painel">
						<ul class="add-perfil text-center">
							<li><a href=""><div><img src="assets/images/avatar.png" class="wauto" alt=""></div></a><small class="fleft100 m-t10">@perfilderef <b class="cl-green fleft100">520</b></small></li>
							<li><a href=""><div><img src="assets/images/avatar.png" class="wauto" alt=""></div></a><small class="fleft100 m-t10">@perfilderef <b class="cl-green fleft100">520</b></small></li>
							<li><a href=""><div><img src="assets/images/avatar.png" class="wauto" alt=""></div></a><small class="fleft100 m-t10">@perfilderef <b class="cl-green fleft100">520</b></small></li>
							<li><a href=""><div><img src="assets/images/avatar.png" class="wauto" alt=""></div></a><small class="fleft100 m-t10">@perfilderef <b class="cl-green fleft100">520</b></small></li>
							<li><a href=""><div><img src="assets/images/avatar.png" class="wauto" alt=""></div></a><small class="fleft100 m-t10">@perfilderef <b class="cl-green fleft100">520</b></small></li>
							<li><a href=""><div><img src="assets/images/avatar.png" class="wauto" alt=""></div></a><small class="fleft100 m-t10">@perfilderef <b class="cl-green fleft100">520</b></small></li>
							<li class="add"><a href=""><img src="assets/images/+.png" class="wauto" alt=""></a></li>
						</ul>
					</div>
					<div class="num fleft100"><b>Dica:</b> Lembre-se que para garantir um bom desempenho da ferramenta você deve adicionar perfis de referência que combine com o seu perfil.</div>
				</div>

				<div class="pf fleft100 text-center m-t45">
					<img src="assets/images/perf.png" class="wauto" alt="">
					<h4 class="fleft100"><b>PERFOMANCE</b></h4>
				</div>
					
				<div class="col-md-6 col-sm-6 col-xs-12 m-t20">
					<div class="col-md-5 col-sm-5 col-xs-12 bk-cinza text-center bloco">
						<h3 class="fleft100 m-t10"><b>INÍCIO (01/12)</b></h3>
						<div class="col-md-6 col-sm-6 col-xs-12 border pd-r15"><h3 class="no-mg"><b>522</b></h3><small class="fleft100">Seguindo</small></div>
						<div class="col-md-6 col-sm-6 col-xs-12 pd-l15"><h3 class="no-mg"><b>157</b></h3><small class="fleft100">Seguidores</small></div>
					</div>
					<div class="col-md-1 col-sm-1 col-xs-12"><br></div>

					<div class="col-md-5 col-sm-5 col-xs-12 bk-cinza text-center bloco cl-blue">
						<h3 class="fleft100 m-t10"><b>AGORA</b></h3>
						<div class="col-md-6 col-sm-6 col-xs-12 border pd-r15"><h3 class="no-mg"><b>522</b></h3><small class="fleft100">Seguindo</small></div>
						<div class="col-md-6 col-sm-6 col-xs-12 pd-l15"><h3 class="no-mg"><b>157</b></h3><small class="fleft100">Seguidores</small></div>
					</div>

					<div class="col-md-4 col-sm-4 col-xs-12 cl-blue m-t30 no-pd center-mobile">
						<b class="cl-black">Ganho hoje</b>
						<h1 class="no-mg fleft100 fsize60"><b>256</b></h1>
					</div>

					<div class="col-md-8 col-sm-8 col-xs-12 cl-green m-t30 no-pd center-mobile">
						<b class="cl-black fleft100 m-b10">Conversão</b>
						<div class="cv fleft">56%</div>
						<img src="assets/images/s-top.png" class="wauto fleft st" alt="">
					</div>

					<div class="fleft100 m-t45">
						<div class="col-md-4 col-sm-4 col-xs-12 no-pd center-mobile m-b10">
							<b class="cl-black">Ganho semanal</b>
							<h1 class="no-mg fleft100"><b>892</b></h1>
						</div>
						<div class="col-md-4 col-sm-4 col-xs-12 no-pd center-mobile m-b10">
							<b class="cl-black">Ganho Mensal</b>
							<h1 class="no-mg fleft100"><b>37822</b></h1>
						</div>
						<div class="col-md-4 col-sm-4 col-xs-12 no-pd center-mobile m-b10">
							<b class="cl-black">Ganho desde o início</b>
							<h1 class="no-mg fleft100"><b>10.522</b></h1>
						</div>
					</div>

					<div class="col-md-12 col-sm-12 col-xs-12 no-pd m-t30 center-mobile m-b10">
						<b class="cl-black">Seguidas até hoje</b>
						<h1 class="no-mg fleft100"><b>37005</b></h1>
					</div>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-12 m-t20">
					<div class="col-md-6 col-sm-6 col-xs-12 pd-r5">
						<div class='input-group date'>
							<span class="input-group-addon">
		                        <span class="glyphicon glyphicon-calendar"></span>
		                    </span>
		                    <input type='text' class="form-control" id='datetimepicker1' placeholder="Selecione o período" />		                    
		                </div>
	                </div>

	                <div class="col-md-6 col-sm-6 col-xs-12 pd-l5">
						<div class='input-group date'>
		                    <input type='text' class="form-control" id='datetimepicker2' placeholder="Selecione o período" />
		                    <span class="input-group-addon">
		                        <span class="glyphicon glyphicon-calendar"></span>
		                    </span>
		                </div>
	                </div>

					<b class="cl-black m-t20 fleft100">Gráfico de desempenho</b>
					<div class="grafico fleft100 m-tb20">
						<img src="assets/images/grafico.jpg" alt="">
					</div>
					<span class="fleft100"><b style="color:#2f61c5;">▬Seguidores ganhos</b> <b style="color:#ea4018;">▬Seguidores iniciais</b></span>

					<b class="cl-black fleft100 m-t30 center-mobile">Melhores Perfis de referência:</b>
					<div class="fleft100 pf-melhor pf-painel m-t30">
						<ul class="add-perfil text-center">
							<li><a href=""><span>1º</span><img src="assets/images/avatar.png" class="wauto" alt=""></a><small class="fleft100 m-t10">@perfilderef <b class="cl-green fleft100 m-t20">25% <br><small>seguiu você</small></b></small></li>
							<li><a href=""><span>2º</span><img src="assets/images/avatar.png" class="wauto" alt=""></a><small class="fleft100 m-t10">@perfilderef <b class="cl-green fleft100 m-t20">25% <br><small>seguiu você</small></b></small></li>
							<li><a href=""><span>3º</span><img src="assets/images/avatar.png" class="wauto" alt=""></a><small class="fleft100 m-t10">@perfilderef <b class="cl-green fleft100 m-t20">25% <br><small>seguiu você</small></b></small></li>							
						</ul>
					</div>
				</div>

				<div class="fleft100">
					<div class="col-md-6 col-sm-6 col-xs-12 bk text-center pd-r15 m-t30">
						<div class="fleft100 bk-cinza">
							<img src="assets/images/direct.png" class="wauto" alt="">
							<h2 class="no-mg"><b>DIRECT</b></h2>
							<div class="breve">EM BREVE</div>
						</div>
					</div>
					<div class="col-md-6 col-sm-6 col-xs-12 bk text-center pd-l15 m-t30">
						<div class="fleft100 bk-cinza">
							<img src="assets/images/viu.png" class="wauto" alt="">
							<h2 class="no-mg"><b>QUEM VIU SEU PERFIL</b></h2>
							<div class="breve">EM BREVE</div>
						</div>
					</div>
				</div>

				<div class="col-md-12 col-sm-12 col-xs-12 bk text-center no-pd m-t30">
					<div class="fleft100 bk-cinza local">
						<img src="assets/images/local.png" class="wauto" alt="">
						<h2 class="no-mg"><b>GEOLOCALIZAÇÃO</b></h2>
						<div class="breve"><a href="" data-toggle="modal" data-target=".bs-simular">EM BREVE</a></div>
						
						<!-- Modal -->
						<div class="modal fade bs-simular bs-example-ligar" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
						  <div class="modal-dialog modal-lg ligar" role="document">
						    <div class="modal-content text-center pd-20">
								<h4 class="m-tb30 cl-green"><b>MUITAS NOVIDADES!</b></h4>
								<p class="">EM BREVE A DUMBU DISBONIBILIZARÁ NOVAS FUNÇÕES, CLIQUE EM OK SE QUISER <br>PARTICIPAR DA VERSÃO DE TESTES E SER UM DOS PRIMEROS A TER ACESSO.</p>
								<div class="text-center m-b20"><button class="btn-primary w40 btn-green m-t20">QUERO PARTICIPAR</button></div>
						    </div>
						  </div>
						</div>
					</div>
				</div>
				
				<div class="col-md-1 col-sm-1 col-xs-12 no-pd"><br></div>
				<div class="col-md-5 col-sm-5 col-xs-12 bk text-center pd-r15 m-t45">
					<div class="text-center fleft100 m-t20">
						<img src="assets/images/pay.png" class="wauto" alt="">
						<h4 class="fleft100 m-t20"><b>DADOS DE PAGAMENTO</b></h4>
					</div>
					<div class="pay fleft100 input-form">
						<fieldset>
							<input type="text" placeholder="Nome no cartão">
						</fieldset>
						<fieldset>
							<input type="text" placeholder="E-mail">
						</fieldset>
						<div class="col-md-9 col-sm-9 col-xs-12 pd-r5">
							<fieldset>
								<input type="text" placeholder="Número do cartão">
							</fieldset>
						</div>
						<div class="col-md-3 col-sm-3 col-xs-12 pd-l5">
							<fieldset>
								<input type="text" placeholder="CVV">
							</fieldset>
						</div>
						<div class="col-md-4 col-sm-4 col-xs-12 no-pd">
							<span class="val">Validade</span>
						</div>
						<div class="col-md-4 col-sm-4 col-xs-12 pd-r15">
							<fieldset>
								<div class="select">
									<select name="local" class="btn-primeiro sel" id="local">
									  	<option value="">01</option>
								    </select>
								</div>
							</fieldset>
						</div>
						<div class="col-md-4 col-sm-4 col-xs-12 no-pd">
							<fieldset>
								<div class="select">
									<select name="local" class="btn-primeiro sel" id="local">
									  	<option value="">2017</option>
								    </select>
								</div>
							</fieldset>
						</div>

						<input type="submit" class="enviar i-block" value="ENVIAR">
					</div>
				</div>
				<div class="col-md-5 col-sm-5 col-xs-12 bk text-center pd-l15 m-t45">
					<div class="text-center fleft100 m-t20">
						<img src="assets/images/mail.png" class="wauto" alt="">
						<h4 class="fleft100 m-t20"><b>FALE CONOSCO</b></h4>
					</div>
					<div class="pay fleft100 input-form">
						<fieldset>
							<input type="text" placeholder="Nome">
						</fieldset>
						<fieldset>
							<input type="text" placeholder="E-mail">
						</fieldset>
						<fieldset>
							<input type="text" placeholder="Telefone">
						</fieldset>
						<fieldset>
							<textarea name="" id="" cols="30" rows="5" placeholder="Mensagem"></textarea>
						</fieldset>

						<input type="submit" class="enviar i-block" value="ENVIAR">
					</div>
				</div>
			</div>
		</section>
				
		<div class="h150 fleft100"></div>
		<footer class="text-center fleft100 m-t30 m-b10"><div class="container"><img src="assets/images/logo-footer.png" class="wauto" alt=""> <span class="fleft100 text-center">DUMBU - 2016 - TODOS OS DIREITOS RESERVADOS</span></div></footer>

		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="assets/bootstrap/js/bootstrap.min.js"></script>
		<script src="assets/js/jquery.dlmenu.js"></script>
		<script>
			$(function() {
				$( '#dl-menu' ).dlmenu();
			});
		</script>
		<script src="assets/js/datepiker.js"></script>
		<script type="text/javascript">
            // When the document is ready
            $(document).ready(function () {
                
                $('#datetimepicker1').datepicker({
                    format: "dd/mm/yyyy"
                });  
            
            });
        </script>
        <script type="text/javascript">
            // When the document is ready
            $(document).ready(function () {
                
                $('#datetimepicker2').datepicker({
                    format: "dd/mm/yyyy"
                });  
            
            });
        </script>
	</body>
</html>